<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/basket" routerLinkActive="active">Basket ({{(order | async).items.length}})</a>
  </li>
  <li class="nav-item" *ngIf="(user | async)?.role === 'ADMIN'">
    <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
  </li>
</ul>
<ul class="navbar-nav ml-auto">
  <li class="nav-item" *ngIf="!(user | async)">
    <a class="nav-link" href="#" (click)="login()">Login</a>
  </li>
  <li class="nav-item dropdown" ngbDropdown *ngIf="(user | async)">
    <a class="nav-link" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
      {{(user | async)?.name}}
    </a>
    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" routerLink="/profile">Settings</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
    </div>
  </li>
</ul>