<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
  </li>
</ul>
<ul class="navbar-nav ml-auto">
  <li class="nav-item" *ngIf="!(user | async)">
    <a class="nav-link" href="#" (click)="login()">Login</a>
  </li>
  <li class="nav-item dropdown" *ngIf="(user | async)">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{(user | async)?.displayName}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" routerLink="/settings">Settings</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
    </div>
  </li>
</ul>