<div class="card">
  <div class="card-block">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()" novalidate autocomplete="off">
      <input placeholder="#" class="form-control" name="pid" formControlName="pid">
      <input placeholder="Product title" class="form-control" name="title" formControlName="title">
      <textarea placeholder="Product description" name="description" formControlName="description" rows="10"></textarea>
      <input type="number" placeholder="0" class="form-control" name="price" formControlName="price">
      <button type="submit">{{product?.$key ? 'Edit': 'Add'}}</button>
      <button type="button" *ngIf="product?.$key" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>