<p>
  Our products:
</p>
<ul *ngIf="products | async; let products; else loading">
  <li class="text" *ngFor="let product of products">
    <a [routerLink]="['/products', product.$key]">
      #{{product.pid}} {{product.title}} - {{product.price | currency:'USD':true}}
    </a>
    <button (click)="selectProduct(product)" *ngIf="(user | async)?.role === 'ADMIN' || (user | async)?.role === 'MANAGER'">Edit</button>
    <button (click)="deleteProduct(product)" *ngIf="(user | async)?.role === 'ADMIN'">Delete</button>
    <button (click)="buyProduct(product)">Add to basket</button>
  </li>
</ul>
<ng-template #loading>Loading products data...</ng-template>
<button (click)="selectProduct()" class="btn btn-primary">Add new product</button>